.background {
  background-image: url("../public/hotel-1749602_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* hogy teljes magasságú legyen */
  color: white; /* háttérképhez igazodva */
}

.container {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgba(255,255,255,.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  font-size: 16px;
}

.button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: red;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: darkred;
}

ul li {
  text-align: left;
  list-style-type: none;
  background-color: rgba(233,233,233,.5);
  padding: .5rem;
}